body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.cm-editor {
    font-size: 16px; 
    font-family: 'Arial', sans-serif;
}

/* Textarea styling */
#cssEditor {
    width: 100%;
    height: 100%;
    padding: 5px;
    resize: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: monospace;
}

#inject_button {
    margin-top: 10px;
    align-self: center;
}