#clerk-auth {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* centers Clerk UI */
}

.cl-card {
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  max-height: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}